:root {
  --primary: #68c4ff;
  --mdc-theme-primary: var(--primary);
  --secondary: #787ff6;
  --mdc-theme-secondary: var(--secondary);
  --surface: #244a8f;
  --mdc-theme-surface: var(--surface);
  --success: #2e7d32;
  --mdc-theme-success: var(--success);
  --warning: #ed6c02;
  --mdc-theme-warning: var(--warning);
  --info: #0288d1;
  --mdc-theme-info: var(--info);
  --error: #b00020;
  --mdc-theme-error: var(--error);
  --disabled: #ebebe4;
  --mdc-theme-disabled: var(--disabled);
  --on-disabled: rgb(84, 84, 84);
  --mdc-theme-on-disabled: var(--on-disabled);
  --on-primary: #000000;
  --mdc-theme-on-primary: var(--on-primary);
  --on-secondary: #ffffff;
  --mdc-theme-on-secondary: var(--on-secondary);
  --on-surface: #ffffff;
  --mdc-theme-on-surface: var(--on-surface);
  --on-success: #ffffff;
  --mdc-theme-on-success: var(--on-success);
  --on-warning: #ffffff;
  --mdc-theme-on-warning: var(--on-warning);
  --on-info: #ffffff;
  --mdc-theme-on-info: var(--on-info);
  --on-error: #ffffff;
  --mdc-theme-on-error: var(--on-error);
  --text-primary-on-dark: #ffffff;
  --mdc-theme-text-primary-on-dark: var(--text-primary-on-dark);
  --text-primary-on-light: rgb(0, 0, 0, 0.87);
  --mdc-theme-text-primary-on-light: var(--text-primary-on-light);
  --text-primary-on-background: rgb(255, 255, 255, 0.87);
  --mdc-theme-text-primary-on-background: var(--text-primary-on-background);
  --text-secondary-on-light: rgba(0, 0, 0, 0.12);
  --mdc-theme-text-secondary-on-light: var(--text-secondary-on-light);
  --text-secondary-on-dark: rgba(0, 0, 0, 0.12);
  --mdc-theme-text-secondary-on-dark: var(--text-secondary-on-dark);
  --text-secondary-on-background: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-background: var(--text-secondary-on-background);
  --text-hint-on-light: rgba(0, 0, 0, 0.6);
  --mdc-theme-text-hint-on-light: var(--text-hint-on-light);
  --text-hint-on-dark: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-hint-on-dark: var(--text-hint-on-dark);
  --text-hint-on-background: rgba(0, 0, 0, 0.12);
  --mdc-theme-text-hint-on-background: var(--text-hint-on-background);
  --text-disabled-on-light: rgba(0, 0, 0, 0.12);
  --mdc-theme-text-disabled-on-light: var(--text-disabled-on-light);
  --text-disabled-on-dark: #87ffff;
  --mdc-theme-text-disabled-on-dark: var(--text-disabled-on-dark);
  --text-disabled-on-background: rgba(0, 0, 0, 0.5);
  --mdc-theme-text-disabled-on-background: var(--text-disabled-on-background);
  --text-icon-on-light: #ffb400;
  --mdc-theme-text-icon-on-light: var(--text-icon-on-light);
  --text-icon-on-dark: #ffb400;
  --mdc-theme-text-icon-on-dark: var(--text-icon-on-dark);
  --text-icon-on-background: #323232;
  --mdc-theme-text-icon-on-background: var(--text-icon-on-background);
  --background: #0a0e2e;
  --mdc-theme-background: var(--background);
  --on-background: #ffffff;
  --mdc-theme-on-background: var(--on-background);
  --mdc-typography-global-font-family: roboto, helvetica, sans-serif, arial;
  --mdc-typography-h1-font-size: 96px;
  --mdc-typography-h1-font-weight: 300;
  --mdc-typography-h1-line-height: 116.7%;
  --mdc-typography-h1-letter-spacing: -1.5px;
  --mdc-typography-h2-font-size: 60px;
  --mdc-typography-h2-font-weight: 300;
  --mdc-typography-h2-line-height: 120%;
  --mdc-typography-h2-letter-spacing: -0.5px;
  --mdc-typography-h3-font-size: 48px;
  --mdc-typography-h3-font-weight: 400;
  --mdc-typography-h3-line-height: 116.7%;
  --mdc-typography-h3-letter-spacing: -0.25px;
  --mdc-typography-h4-font-size: 34px;
  --mdc-typography-h4-font-weight: 400;
  --mdc-typography-h4-line-height: 123.5%;
  --mdc-typography-h4-letter-spacing: 0.25px;
  --mdc-typography-h5-font-size: 24px;
  --mdc-typography-h5-font-weight: 500;
  --mdc-typography-h5-line-height: 133.4%;
  --mdc-typography-h6-font-size: 20px;
  --mdc-typography-h6-font-weight: 400;
  --mdc-typography-h6-line-height: 160%;
  --mdc-typography-h6-letter-spacing: 0.15px;
  --mdc-typography-subtitle1-font-size: 16px;
  --mdc-typography-subtitle1-font-weight: 500;
  --mdc-typography-subtitle1-line-height: 150%;
  --mdc-typography-subtitle1-letter-spacing: 0.15px;
  --mdc-typography-subtitle2-font-size: 14px;
  --mdc-typography-subtitle2-font-weight: 500;
  --mdc-typography-subtitle2-line-height: 140%;
  --mdc-typography-subtitle2-letter-spacing: 0.1px;
  --mdc-typography-body1-font-size: 16px;
  --mdc-typography-body1-font-weight: 400;
  --mdc-typography-body1-line-height: 120%;
  --mdc-typography-body1-letter-spacing: 0.15px;
  --mdc-typography-body2-font-size: 14px;
  --mdc-typography-body2-font-weight: 400;
  --mdc-typography-body2-line-height: 120%;
  --mdc-typography-body2-letter-spacing: 0.17px;
  --mdc-typography-caption-font-size: 12px;
  --mdc-typography-caption-font-weight: 400;
  --mdc-typography-caption-line-height: 166%;
  --mdc-typography-caption-letter-spacing: 0.4px;
  --mdc-typography-overline-font-size: 12px;
  --mdc-typography-overline-font-weight: 400;
  --mdc-typography-overline-line-height: 266%;
  --mdc-typography-overline-letter-spacing: 1px;
  --mdc-typography-overline-text-transform: uppercase;
  --mdc-typography-button-font-size: 14px;
  --mdc-typography-button-font-weight: 500;
  --mdc-typography-button-line-height: 24px;
  --mdc-typography-button-letter-spacing: 0.4px;
  --mdc-typography-button-text-transform: uppercase;
  --mdc-typography-body3-font-weight: bold;
  --mdc-typography-body3-font-size: var(--mdc-typography-h6-font-size);
  --mdc-typography-body3-line-height: 143%;
  --mdc-typography-body3-font-style: normal;
  --mdc-typography-body3-font-family: cursive;
  --mdc-typography-body3-letter-spacing: 0.17px;
  --mdc-typography-body3-text-transform: uppercase;
  --mdc-typography-body3-text-decoration: underline wavy var(--mdc-theme-warning);
  --mdc-typography-body3-color: var(--mdc-theme-primary);
}
