:root {
  --primary: #68c4ff;
  --secondary: #787ff6;
  --surface: #244a8f;
  --success: #2e7d32;
  --warning: #ed6c02;
  --info: #0288d1;
  --error: #b00020;
  --disabled: #ebebe4;
  --on-disabled: rgb(84, 84, 84);
  --on-primary: #000000;
  --on-secondary: #ffffff;
  --on-surface: #ffffff;
  --on-success: #ffffff;
  --on-warning: #ffffff;
  --on-info: #ffffff;
  --on-error: #ffffff;
  --text-primary-on-dark: #ffffff;
  --text-primary-on-light: rgb(0, 0, 0, 0.87);
  --text-primary-on-background: rgb(255, 255, 255, 0.87);
  --text-secondary-on-light: rgba(0, 0, 0, 0.12);
  --text-secondary-on-dark: rgba(0, 0, 0, 0.12);
  --text-secondary-on-background: rgba(0, 0, 0, 0.87);
  --text-hint-on-light: rgba(0, 0, 0, 0.6);
  --text-hint-on-dark: rgba(0, 0, 0, 0.38);
  --text-hint-on-background: rgba(0, 0, 0, 0.12);
  --text-disabled-on-light: rgba(0, 0, 0, 0.12);
  --text-disabled-on-dark: #87ffff;
  --text-disabled-on-background: rgba(0, 0, 0, 0.5);
  --text-icon-on-light: #ffb400;
  --text-icon-on-dark: #ffb400;
  --text-icon-on-background: #323232;
  --background: #0a0e2e;
  --on-background: #ffffff;
  --global-font-family: roboto, helvetica, sans-serif, arial;
  --h1-font-size: 96px;
  --h1-font-weight: 300;
  --h1-line-height: 116.7%;
  --h1-letter-spacing: -1.5px;
  --h2-font-size: 60px;
  --h2-font-weight: 300;
  --h2-line-height: 120%;
  --h2-letter-spacing: -0.5px;
  --h3-font-size: 48px;
  --h3-font-weight: 400;
  --h3-line-height: 116.7%;
  --h3-letter-spacing: -0.25px;
  --h4-font-size: 34px;
  --h4-font-weight: 400;
  --h4-line-height: 123.5%;
  --h4-letter-spacing: 0.25px;
  --h5-font-size: 24px;
  --h5-font-weight: 500;
  --h5-line-height: 133.4%;
  --h6-font-size: 20px;
  --h6-font-weight: 400;
  --h6-line-height: 160%;
  --h6-letter-spacing: 0.15px;
  --subtitle1-font-size: 16px;
  --subtitle1-font-weight: 500;
  --subtitle1-line-height: 150%;
  --subtitle1-letter-spacing: 0.15px;
  --subtitle2-font-size: 14px;
  --subtitle2-font-weight: 500;
  --subtitle2-line-height: 140%;
  --subtitle2-letter-spacing: 0.1px;
  --body1-font-size: 16px;
  --body1-font-weight: 400;
  --body1-line-height: 120%;
  --body1-letter-spacing: 0.15px;
  --body2-font-size: 14px;
  --body2-font-weight: 400;
  --body2-line-height: 120%;
  --body2-letter-spacing: 0.17px;
  --caption-font-size: 12px;
  --caption-font-weight: 400;
  --caption-line-height: 166%;
  --caption-letter-spacing: 0.4px;
  --overline-font-size: 12px;
  --overline-font-weight: 400;
  --overline-line-height: 266%;
  --overline-letter-spacing: 1px;
  --overline-text-transform: uppercase;
  --button-font-size: 14px;
  --button-font-weight: 500;
  --button-line-height: 24px;
  --button-letter-spacing: 0.4px;
  --button-text-transform: uppercase;
  --inherit-font-size: inherit;
  --inherit-font-family: inherit;
  --inherit-line-height: inherit;
  --inherit-font-weight: inherit;
  --inherit-font-style: inherit;
  --inherit-letter-spacing: inherit;
  --inherit-text-decoration: inherit;
  --body3-font-weight: bold;
  --body3-line-height: 143%;
  --body3-font-style: normal;
  --body3-font-family: cursive;
  --body3-letter-spacing: 0.17px;
  --body3-text-transform: uppercase;
}
