@import 'normalize.css/normalize.css';
@import '@material/theme/dist/mdc.theme.min.css';
@import '@material/typography/dist/mdc.typography.min.css';

:root {
	--mdc-theme-primary: #68c4ff;
	--mdc-theme-on-primary: black;
	--mdc-theme-secondary: #787ff6;
	--mdc-theme-on-secondary: white;
	--mdc-theme-surface: #244a8f;
	--mdc-theme-on-surface: #ffffff;
	--mdc-theme-background: #0a0e2e;
	--mdc-theme-on-background: #ffffff;
	--mdc-theme-success: #2e7d32;
	--mdc-theme-on-success: white;
	--mdc-theme-warning: #ed6c02;
	--mdc-theme-on-warning: white;
	--mdc-theme-info: #0288d1;
	--mdc-theme-on-info: white;
	--mdc-theme-error: #d32f2f;
	--mdc-theme-on-error: white;
	--mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
	--mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
	--mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
	--mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
	--mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
	--mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
	--mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
	--mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
	--mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
	--mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
	--mdc-theme-text-primary-on-dark: white;
	--mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
	--mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
	--mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
	--mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);
	/* body3 */
	--mdc-typography-body3-font-style: normal;
	--mdc-typography-body3-font-weight: 400;
	--mdc-typography-body3-font-size: 0.875em;
	--mdc-typography-body3-line-height: 143%;
	--mdc-typography-body3-letter-spacing: 0.17px;

	font-family: var(--mdc-typography-font-family);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

pre {
	margin: 0;
}

/* Custom Typography */
.mdc-typography--body3 {
	font-family: var(--mdc-typography-font-family);
	font-style: var(--mdc-typography-body3-font-style);
	font-weight: var(--mdc-typography-body3-font-weight);
	font-size: var(--mdc-typography-body3-font-size);
	line-height: var(--mdc-typography-body3-line-height);
	letter-spacing: var(--mdc-typography-body3-letter-spacing);
}
