@import '@material/theme/dist/mdc.theme.min.css';
@import '@material/typography/dist/mdc.typography.min.css';

:root {
	--mdc-theme-primary: #4adede;
	--mdc-theme-on-primary: black;
	--mdc-theme-secondary: #787ff6;
	--mdc-theme-on-secondary: white;
}

div {
	box-sizing: border-box !important;
}

pre {
	display: flex;
	flex-direction: column;
	color: cyan;
	background-color: black;
	padding: 16px;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: var(--mdc-typography-body2-font-size);
	line-height: var(--mdc-typography-body2-line-height);
}
